<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, intial-scale=1.0">
	<title>Todo App</title>
</head>
<body>
	<div>
		<h1>
			[Todo]: Update
		</h1>
		{% if msg %}
		<span>{{ msg }}</span>
		{% endif %}
	</div>
	<div>
		<form method="POST" action="/update">
			<div>
				<label>NAME: </label>
				<input type="text" name="name" value="{{ record.name }}">
			</div>
			<div>
				<label>TODO: </label>
				<input type="text" name="todo" value="{{ record.todo }}">
			</div>
			<input type="hidden" name="id" value="{{ record.id }}">
			<button button="submit">UPDATE</button>
		</form>
	</div>
</body>
</html>
